/* Text */

.text-center{
    text-align: center;
}
.heading-small{
    font-size: 1.25rem;
}
.heading-medium{
    font-size: 1.5rem;
}
.heading-big{
    font-size: 1.75rem;
}

/* Colors */
.bg-dark-blue{
    background: #062e51;
    opacity: 0.8;
}
.bg-light-blue{
    background: #336ea2;
}
.txt-middle{
    color: yellow;
}
/* buttons*/
.btn{
    margin-top: 1.25rem;
    padding: 0.8rem 3rem;
    border-radius: 7px;
    letter-spacing: 0.5px;
    cursor: pointer;
}
.btn-primary{
    background: #336ea2;
}
.btn-primary:hover{
    color: #336ea2;
    background: white;
    border: 0.5px solid #336ea2;
}
.btn-dark{
    background:#333;
}
.btn-dark:hover{
    color: #333;
    background: #fff;
    border: 0.5px solid #333;
}
.btn-block{
    width: 100%;
    text-align: center;
}
/* container */
.container{
    max-width: 1100px;
    margin: 0 auto;
}

/*text*/
.txt-1{
    margin-bottom: 0.2rem;
    opacity: 0.6;
}
.txt-fontsize-1{
    font-size: 0.8rem;
}
.txt-letter-1{
    letter-spacing: 1.2px;
}

/* forms */
.form-group{
    padding:0.25rem 0 ;
}
.form-group label{
    display: block;
}
.form-control{
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    resize: none;
    border-radius: 5px;
}