*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(/images/220424.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
a{
    text-decoration: none;
    color: #fff;
}
html{
    font-family: 'Open Sans', sans-serif;
}
.sayfa-basi{
    font-size: 2rem;
    text-align: center;
    color: #336ea2;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: fixed;
    bottom: 15px;
    left: 15px;
    padding: 1rem;
    opacity: 0.8;
    z-index: 3;
}
.sayfa-basi:hover{
    background: yellow;
}
#navbar{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}
#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
#navbar ul li a{
    padding: 0.5rem;
}
#navbar ul li a:hover{
   background: #336ea2; 
   border-radius: 4px;
}
.position{
    position: fixed;
    width: 100%;
    z-index: 3;
}
.snap{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    margin-top: 100px;
}

/* home section */
#home{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid green;
}
#home .name h2{
    margin-bottom: 0.75rem;
}
#home .name p{
    opacity: 0.6;
    font-style: italic;
}

/*training*/
#training{
    color: #fff;
    padding: 1rem;
}
#training .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#training .items .item{
    width: 33%;
    text-align: center;
    padding: 0.5rem;
}
#training .items .item:hover{
    color: red;
    opacity: 0.6;
}

/*Courses*/
#courses{
    color: white;
    padding: 1rem;
}
.courses{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.courses .course{
    display: flex;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.courses .course .course-image{
    margin-right: 0.5rem;
    position: relative;
}
.courses .course .course-image img{
    border-radius: 5px;
    height: 200px;
    width: 200px;
}
.courses .course .course-image span{
    background: red;
    padding: 0.25rem;
    color: white;
    border-radius: 4px;
    position: absolute;
    top: 15px;
    left: 0;
}
.courses .course .course-info .title{
    color: yellow;
    font-weight: 700;
    margin-bottom: 0.2rem;
}

/* contact */
#contact{
    color: white;
    padding: 1rem;
}
#contact .contact-form{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
#contact .contact-form ul{
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    align-self: center;
}
#contact .contact-form ul li a{
    padding: 1rem;
    font-size: 2rem;
}
#contact .contact-form ul li a:hover{
   opacity: 0.8;
}